[submodule "src/plugins/-f"]
	path = src/plugins/-f
	url = https://github.com/LotharieSlayer/logs
[submodule "src/plugins/logs"]
	path = src/plugins/logs
	url = https://github.com/LotharieSlayer/logs
